body {
  font-size: 1em;
  line-height: 1.5;
  background: #fff;
  font-size: 21px;
  line-height: 30px;
  color: #6d6d6d;
  font-family: 'Pontano Sans', sans-serif;
}

#container  {
  width: 700px;
  margin: 0 auto;
}

.profile {
  clear: both;
  text-align: center;
  margin-top: 50px;
  height: 500px;
}

.profile h1 {
  color: #303030;
  line-height: 1.2;
  font-weight: 600;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0px;
  font-size: 60px;
}

.profile .description {
  padding: 0px 0;
  color: rgba(0,0,0,0.6);
  font-size: 18px;
  outline: 0;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.profile .social { margin-top: 50px; }

.profile .social a {
  padding: 0 5px;
  text-decoration: none;
}

.profile .social a .icon:hover {
  opacity: 0.6;
}

.avatar img {
  margin: 0 auto 30px auto;
  border-radius: 120px;
  border: 3px solid #ddd;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
}

.avatar img:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  cursor: pointer;
}

#nav {
  margin: 10px auto 0 auto;
  width: 700px;
  font-size: 14px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#nav ul li {
  padding-right: 15px;
  display: inline-block;
  list-style: none;
}

#nav ul li:last-child {
  border: none;
}

#nav ul li a {
  color: #333;
  display: block;
  text-decoration: none;
}

#nav ul li a:hover {
  text-decoration: underline;
}

#nav ul li a.active {
  text-decoration: underline;
}

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

.projects {
  margin: 50px auto 0 auto;
  text-align: center;
  font-size: 16px;
}

.projects i {
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.projects ul {
  width: 500px;
  text-align: left !important;
  margin: 0 auto;
  padding: 0 0 20px 0;
  list-style: none;
  text-align: center;
}

.projects ul li {
  padding: 0 0 20px 0;
}

.projects p {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.projects a {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: underline;
}

h1 {
  color: #303030;
  line-height: 1.2;
  font-weight: 600;
  text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
  font-family: 'Pontano Sans', sans-serif;
  margin: 0px;
  font-size: 30px;
}